.link {
    fill: none;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash 2s linear;
}

@keyframes dash{
    from{
        stroke-dashoffset: 1000;
    }
    to{
        stroke-dashoffset: 0;
    }
}

.trace_view_cnt {
    height: 100%;
    width: 100%;
}